<!-- Main Footer -->
<footer class="main-footer text-center">
    <strong>Copyright &copy; 2020-2021 <a href="https://adminlte.io">GoliatJs</a>.</strong><br>
    Todos los derechos reservados.
</footer>