{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'producto/js/listProducto.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 15%;">Nombre</th>
        <th scope="col" style="width: 15%;">Categoria</th>
        <th scope="col" style="width: 10;">imagen</th>
        <th scope="col" style="width: 15%;">Stock</th>
        <th scope="col" style="width: 15%;">Prom-P.Compra</th>
        <th scope="col" style="width: 15%;">Prom-P.Venta</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}