{% extends 'list.html' %}
{% load static %}
{% block head_list %}

     <script src="{% static 'stock/js/listStock.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">id Stock</th>
         <th scope="col" style="width: 30%;">Cantidad</th>
         <th scope="col" style="width: 30%;">Prducto</th>
        <th scope="col" style="width: 30%;">opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}