{% block content%}
<table class="table table-bordered">
<theader>
<tr>

    <td> Cantidad</td>
</tr>
</theader>
<tbody>
{% if %}
 <td> {{ form.cant }}</td>
    <td>{{ form.cant }}</td>
</tbody>
</table>
{% endblock%}