{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'cliente/js/listaClie.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nit/Cédula</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Apellidos</th>
        <th scope="col" style="width: 10%;">Fecha</th>
        <th scope="col" style="width: 15%;">Dirección</th>
        <th scope="col" style="width: 15%;">Teléfono</th>
        <th scope="col" style="width: 15%;">Sexo</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}