{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'compra/js/listaComp.js' %}"></script>
{% endblock %}

{% block columns %}
         <tr>
            <th scope="col">Nro</th>
            <th scope="col" style="width: 25%;">Proveedor</th>
            <th scope="col" style="width: 25%;">Fecha</th>
            <th scope="col" style="width: 25%;">Total</th>
            <th scope="col" style="width: 25%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}
 <div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-shopping-cart"></i> Consulta
                        detalle Compras</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tblDet">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Stock inicial</th>
                            <th>+Cantidad comprada</th>
                            <th>Precio Compra</th>
                            <th>Subtal Prod</th>
                            <th>Iva</th>
                            <th>Iva prod</th>
                            <th>Total Prod</th>
                            <th>Stock final</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}